<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Bill Management System</title>
    <meta name="generator" content="Bootply"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href="/lib/favicon1.ico" />

    <!--bower:less-->
    <!--endbower-->

    <!--bower:sass-->
    <!--endbower-->

    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/lib/select2/dist/css/select2.css" />
    <link rel="stylesheet" href="/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
    <!--endbower-->

    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/select2/dist/js/select2.js"></script>
    <script src="/lib/moment/min/moment.min.js"></script>
    <script src="/lib/moment-timezone/builds/moment-timezone.min.js"></script>
    <script src="/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <!-- endbower-->


    <!--inject:css-->

    <link rel="stylesheet" href="/css/styles.css">

    <!--endinject-->


    <!--inject:js-->
    <script src="/js/billModule.js"></script>
    <script src="/js/myJS.js"></script>
    <!--endinject-->

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


;


    <script>
            $( document ).ready(function() {
                // $('#datetimepicker1').datetimepicker();
        });
        var addMethodClicked = function () {
            alert("Add clicked");
        };

        var saveClicked = function () {
            alert("Save clicked");
        };
    </script>

</head>
<body>
<header class="navbar yamm navbar-default navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>Bill Management System</a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">

                {{#each nav}}
                    <li><a href="{{this.Link}}">{{this.Text}}</a></li>
                {{/each}}
            </ul>
        </nav>
    </div>
</header>


<div class="container">
    <h1>
        <small>Genrate Bill</small>
    </h1>
    <div class="row">

        <div class="col-md-12">

            <div class="panel">
                <div class="panel-body">
                    <div id="headerInfo">
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               placeholder="Search :  Bill Number/ Name / Phone Number"
                               name="search">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <i class="glyphicon glyphicon-search"> Search</i></button>
                        </div>
                    </div>
                        <br>

                        <p class="text-danger"><b>Paient Details</b><p>
                      <div class="row">
                          <div class="col-md-3"><p><b>Name:</b>Narendra Modi</p></div>
                          <div class="col-md-2"><b>Sex:</b>Male</div>
                          <div class="col-md-3"><b>Bill No:</b>1112D56</div>
                          <div class="col-md-3"><b>Ph-No:</b>123456789</div>
                      </div>
                        </div>
<br>
                   <p class="text-danger"><b>Bill Details</b><p>
                    <div class="buttonlayout" id="buttonLayout">


            <button type="button" class="btn btn-success" id="add" title="Add New" data-toggle="modal"
                    data-target="#addBillModal">
                <i class="glyphicon glyphicon-plus"></i>
            </button>

                    </div>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Type</th>
                            <th scope="col">Name</th>
                            <th scope="col">Tax</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Examination</td>
                            <td>Fetal Scan</td>
                            <td>289</td>
                            <td>3000</td>
                            <td> <button type="button" class="btn btn-facebook" id="edit" title="Edit">
                            <i class="glyphicon glyphicon-edit"></i>
                        </button></td>
                            <td>  <button type="button" class="btn btn-danger" id="delete" title="Delete">
                            <i class="glyphicon glyphicon-minus"></i>
                        </button></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Medicine</td>
                            <td>Tetanus</td>
                            <td>18</td>
                            <td>750</td>
                             <td> <button type="button" class="btn btn-facebook" id="edit" title="Edit">
                            <i class="glyphicon glyphicon-edit"></i>
                        </button></td>
                            <td>  <button type="button" class="btn btn-danger" id="delete" title="Delete">
                            <i class="glyphicon glyphicon-minus"></i>
                        </button></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="addBillModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Entry</h4>
      </div>
      <div class="modal-body">
          <form>
              <div class="form-group">
                  <div class="row">
                      <div class="col-md-3">
                          <label for="name">Category</label>
                          <select class="form-control">
                              <option value="Select">Select</option>
                              <option value="test">Test</option>
                              <option value="medicine">Medicine</option>
                          </select>
                      </div>

                      <div class="col-md-3">
                          <label for="name">Inspection Type</label>
                          <select class="form-control">
                              <option value="Select">Select</option>
                              <option value="growthScan">Growth Scan</option>
                              <option value="fetalScan">Fetal Scan</option>
                              <option value="anomoly">Anomaly Scan</option>
                          </select>
                      </div>

                      <div class="col-md-3">
                       <label for="name">Medicine Type</label>
                          <select class="form-control">
                              <option value="Select">Select</option>
                              <option value="tt">Tetanus</option>
                              <option value="ivf">IVF</option>
                          </select>
                      </div>
                  </div>
<br>
                  <div class="row">
                      <div class="col-md-">
                          <label for="description">Description</label>
                          <textarea class="form-control" id="description"></textarea>

                      </div>

                    <div class="col-md-3">
                          <label for="amount">Amount</label>
                        <input type="text" class="form-control" id="amount" name="amount">

                      </div>

                      <!--  <div class="col-md-3">
                       <label for="name">Medicine Type</label>
                          <select class="form-control">
                              <option value="Select">Select</option>
                              <option value="tt">Tetanus</option>
                              <option value="ivf">IVF</option>
                          </select>
                      </div>-->
                  </div>
              </div>
          </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="saveClicked()">Add</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>