<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Bill Management System</title>
    <meta name="generator" content="Bootply"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href="/lib/favicon1.ico"/>

    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/lib/select2/dist/css/select2.css" />
    <link rel="stylesheet" href="/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
    <!--endbower-->

    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/select2/dist/js/select2.js"></script>
    <script src="/lib/moment/min/moment.min.js"></script>
    <script src="/lib/moment-timezone/builds/moment-timezone.min.js"></script>
    <script src="/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <!-- endbower-->


    <!--inject:css-->

    <link rel="stylesheet" href="/css/styles.css">

    <!--endinject-->


    <!--inject:js-->
    <script src="/js/billModule.js"></script>
    <script src="/js/myJS.js"></script>
    <!--endinject-->

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<header class="navbar yamm navbar-default navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>Bill
                Management System</a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">

                {{#each nav}}
                    <li><a href="{{this.Link}}">{{this.Text}}</a></li>
                {{/each}}
            </ul>

        </nav>
    </div>
</header>


<div class="container">
    <h1>
        <small>Histroy</small>
    </h1>
    <div class="row">

        <div class="col-md-12">

            <div class="panel">
                <div class="panel-body">
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               placeholder="Search :  Bill Number/ Name / Phone Number"
                               name="search">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <i class="glyphicon glyphicon-search"> Search</i></button>
                        </div>
                    </div>
                    <hr>
                    <p class="text-danger"><b>Patient Service List</b><p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Patient Id</th>
                            <th scope="col">Patient Name</th>
                            <th scope="col">Patient Age</th>
                            <th scope="col">Sex</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Date</th>
                            <th scope="col">Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>A1234</td>
                            <td>Narendra Modi</td>
                            <td>67</td>
                            <td>Male</td>
                            <td>987654321</td>
                             <td>01-01-2018</td>
                            <td> <button type="button" class="btn btn-facebook" id="edit" title="Edit">
                            <i class="glyphicon glyphicon-tree-deciduous"></i>
                        </button>
                            </td>
                        </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>A9765</td>
                            <td>Amit Shah</td>
                            <td>67</td>
                            <td>Male</td>
                            <td>987654321</td>
                              <td>09-01-2018</td>
                            <td> <button type="button" class="btn btn-facebook" id="edit" title="Edit">
                            <i class="glyphicon glyphicon-tree-deciduous"></i>
                        </button>
                            </td>
                        </tr>                        </tbody>
                    </table>

                </div>
            </div>


        </div>
    </div>
</div>


<hr>


<hr>

<hr>


</body>
</html>