<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Bill Management System</title>
    <meta name="generator" content="Bootply"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href="/lib/favicon1.ico" />

    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/lib/select2/dist/css/select2.css" />
    <link rel="stylesheet" href="/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
    <!--endbower-->

    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/select2/dist/js/select2.js"></script>
    <script src="/lib/moment/min/moment.min.js"></script>
    <script src="/lib/moment-timezone/builds/moment-timezone.min.js"></script>
    <script src="/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <!-- endbower-->


    <!--inject:css-->

    <link rel="stylesheet" href="/css/styles.css">

    <!--endinject-->


    <!--inject:js-->
    <script src="/js/billModule.js"></script>
    <script src="/js/myJS.js"></script>
    <!--endinject-->

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">
        $(document).ready(function () {
            $('#dob').datepicker({
                                     autoclose: true
                                 });
        });
    </script>

</head>
<body>
<header class="navbar yamm navbar-default navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
                <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> Bill
                Management System</a>

        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">

                {{#each nav}}
                    <li><a href="{{this.Link}}">{{this.Text}}</a></li>
                {{/each}}
            </ul>

        </nav>
    </div>
</header>


<div class="container">
    <h1>
        <small>Register Paient</small>
    </h1>

    <div class="row">

        <div class="col-md-12">

            <div class="panel">
                <div class="panel-body">

                    <form>
                        <div class="form-group">
                            <label for="name">Full Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name" size="50">
                        </div>

                        <div class="form-group">
                            <div class="row">

                                <div class="col-md-3">
                                    <label for="name">Sex</label>
                                    <select class="form-control">
                                        <option value="Select">Select</option>
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label for="name">DOB</label>
                                    <div>
                                        <div class='input-group date' id='dob'>
                                            <input type='text' class="form-control" placeholder="DD/MM/YYYY"        id="dob" name="dob"/>
                                            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="form-group">
                            <label for="name">Phone No</label>
                            <input type="text" class="form-control" id="phone" placeholder="Phone Number">
                        </div>
                        <div class="form-group">
                            <label for="name">Email Id</label>
                            <input type="text" class="form-control" id="email" placeholder="Email Id">
                        </div>

                        <div class="form-group">
                            <label for="address">Address</label>
                            <textarea class="form-control" rows="5" id="address" name="address"></textarea>
                        </div>


                        <div class="form-group">
                            <button type="submit" class="btn btn-primary pull-right">Register</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<hr>

<hr>

<hr>


</body>
</html>